/* Glowing Button Effect */
.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 5px 5px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: transparent;
    -fx-transition: all 0.3s ease-in-out;
}

.button:hover {
    -fx-background-color: #2980b9;
    -fx-effect: dropshadow(three-pass-box, rgba(52, 152, 219, 0.8), 10, 0, 0, 0);
}
